<!-- Breadcrumb Start -->
<app-breacrumb></app-breacrumb>
<!-- Breadcrumb End -->


<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5 mt-3 mb-3">
        <div class="col-lg-8">
            <div>
                <div class="row">

                    <div class="col-3 bg-light m-1 flex-start" *ngFor="let item of userAddresses; let i = index">
                        <div class=" d-flex justify-content-around pt-3">

                            <input (change)="addressChange(i ,item.addressId,'change')" class="custom-margin"
                                type="radio" name="address">
                            <label for="" class="d-block"><b>{{item.title}}</b></label>
                            <span class="text-warning" (click)="addressChange(i,item.addressId,'edit')"> <i
                                    class="fas fa-edit"></i></span>
                            <span class="text-danger" (click)="removeAddress(i)"><i class="fas fa-thin fa-trash"></i>
                            </span>

                        </div>
                        <hr>
                        <address>
                            <b>{{item.name}}</b><br>
                            {{item.mobileNo}}<br>
                            {{item.landmark}}, {{item.city}}, {{item.state}}, {{item.country}}, {{item.pincode}}
                        </address>


                    </div>

                </div>
            </div>


            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">
                    {{(!isUpdateAddress)? "Billing Address" : "Upadate Address"}}
                </span>
                <span class="float-right bg-warning" (click)="clearForm()">

                    <small>New Address</small>
                </span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <form [formGroup]="billingAdress">
                    <div class="row">
                        <div class="col-md-12 form-group w-100">
                            <label>Address Name</label>
                            <input class="form-control" type="text" value=""
                                placeholder="Home Address , Office Address, etc..." formControlName="title">

                            <span class="help-block text-danger"
                                *ngIf="billingAdress.controls['title'].hasError('required') && billingAdress.controls['title'].touched ">
                                please a add address Title
                            </span>

                        </div>
                        <div class="col-md-6 form-group">
                            <label>Full Name</label>
                            <input class="form-control" type="text" placeholder="John" formControlName="name">
                            <span class="help-block text-danger"
                                *ngIf="billingAdress.controls['name'].hasError('required') && billingAdress.controls['name'].touched ">
                                Please enter your name
                            </span>

                        </div>

                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="number" placeholder="+123 456 789"
                                formControlName="mobileNo">
                            <span class="help-block text-danger"
                                *ngIf="billingAdress.controls['mobileNo'].hasError('required') && billingAdress.controls['mobileNo'].touched ">
                                Please enter your mobileNo
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Street"
                                formControlName="addressLineOne">
                            <span class="help-block text-danger"
                                *ngIf="billingAdress.controls['addressLineOne'].hasError('required') && billingAdress.controls['addressLineOne'].touched ">
                                Please enter your address
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" placeholder="123 Street"
                                formControlName="addressLineTwo">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <input class="form-control" type="text" placeholder="USA" formControlName="country">
                            <span class="help-block text-danger"
                                *ngIf="billingAdress.controls['country'].hasError('required') && billingAdress.controls['country'].touched ">
                                Please enter your country
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="New York" formControlName="state">
                            <span class="help-block text-danger"
                                *ngIf="billingAdress.controls['state'].hasError('required') && billingAdress.controls['state'].touched ">
                                Please enter your state
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="New York" formControlName="city">
                            <span class="help-block text-danger"
                                *ngIf="billingAdress.controls['city'].hasError('required') && billingAdress.controls['city'].touched ">
                                Please enter your city
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Landmark</label>
                            <input class="form-control" type="text" placeholder="Time Square"
                                formControlName="landmark">
                            <span class="help-block text-danger"
                                *ngIf="billingAdress.controls['landmark'].hasError('required') && billingAdress.controls['landmark'].touched ">
                                Please enter your landmark
                            </span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="number" placeholder="123" formControlName="pincode">
                            <span class="help-block text-danger"
                                *ngIf="billingAdress.controls['pincode'].hasError('required') && billingAdress.controls['pincode'].touched ">
                                Please enter your zipCode
                            </span>
                        </div>
                        <ng-container *ngIf="!isUpdateAddress">

                            <div class="col-md-12 form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount">
                                    <label class="custom-control-label" for="newaccount">Create an account</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [checked]="isOtherAddress"
                                        (change)="addMoreDetails()" id="shipto">
                                    <label class="custom-control-label" for="shipto">Ship to different address</label>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="isUpdateAddress">
                        <button (click)="updateAddress()" class="btn btn-warning"> Submit Now</button>
                    </ng-container>
                </form>
            </div>
            <div *ngIf="isOtherAddress" class="mb-5" id="shipping-address ">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping
                        Address</span></h5>
                <div class="bg-light p-30">
                    <form [formGroup]="shippingAddres">
                        <div class="row">
                            <div class="col-md-12 form-group w-100">
                                <label>Address Name</label>
                                <input class="form-control" type="text" value=""
                                    placeholder="Home Address , Office Address, etc..." formControlName="title">

                                <span class="help-block text-danger"
                                    *ngIf="billingAdress.controls['title'].hasError('required') && billingAdress.controls['title'].touched ">
                                    please a add address Title
                                </span>

                            </div>
                            <div class="col-md-6 form-group">
                                <label>First Name </label>
                                <input class="form-control" type="text" placeholder="John" formControlName="name"
                                    required>
                                <span class="help-block text-danger"
                                    *ngIf="billingAdress.controls['name'].hasError('required') && billingAdress.controls['name'].touched ">
                                    Please enter your name
                                </span>
                            </div>


                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input class="form-control" type="text" placeholder="+123 456 789"
                                    formControlName="mobileNo">
                                <span class="help-block text-danger"
                                    *ngIf="billingAdress.controls['mobileNo'].hasError('required') && billingAdress.controls['mobileNo'].touched ">
                                    Please enter your mobileNo
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 1</label>
                                <input class="form-control" type="text" placeholder="123 Street"
                                    formControlName="addressLineOne">
                                <span class="help-block text-danger"
                                    *ngIf="billingAdress.controls['addressLineOne'].hasError('required') && billingAdress.controls['addressLineOne'].touched ">
                                    Please enter your address
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 2</label>
                                <input class="form-control" type="text" placeholder="123 Street"
                                    formControlName="addressLineTwo">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Country</label>
                                <input class="form-control" type="text" placeholder="123 Street"
                                    formControlName="country">
                                <span class="help-block text-danger"
                                    *ngIf="billingAdress.controls['country'].hasError('required') && billingAdress.controls['country'].touched ">
                                    Please enter your country
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>State</label>
                                <input class="form-control" type="text" placeholder="New York" formControlName="state">
                                <span class="help-block text-danger"
                                    *ngIf="billingAdress.controls['state'].hasError('required') && billingAdress.controls['state'].touched ">
                                    Please enter your state
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                <input class="form-control" type="text" placeholder="New York" formControlName="city">
                                <span class="help-block text-danger"
                                    *ngIf="billingAdress.controls['city'].hasError('required') && billingAdress.controls['city'].touched ">
                                    Please enter your city
                                </span>

                            </div>
                            <div class="col-md-6 form-group">
                                <label>landmark</label>
                                <input class="form-control" type="text" placeholder="New York"
                                    formControlName="landmark">
                                <span class="help-block text-danger"
                                    *ngIf="billingAdress.controls['landmark'].hasError('required') && billingAdress.controls['landmark'].touched ">
                                    Please enter your landmark
                                </span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>PIN Code</label>
                                <input class="form-control" type="text" placeholder="123" formControlName="pincode">
                                <span class="help-block text-danger"
                                    *ngIf="billingAdress.controls['pincode'].hasError('required') && billingAdress.controls['pincode'].touched ">
                                    Please enter your zipCode
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order
                    Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    <div class="d-flex justify-content-between" *ngFor="let item of checkOutData?.cartItem">

                        <p>{{item.product.title}}</p>
                        <p>{{item.product.price* item.quantity |currency:(common.currncypipe| async)}}</p>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <h6>subtotal</h6>
                        <h6>{{checkOutData?.cartCheck?.subTotal |currency:(common.currncypipe| async)}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">{{checkOutData?.cartCheck?.shipping
                            |currency:(common.currncypipe| async)}}</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>{{checkOutData?.cartCheck?.subTotal + checkOutData?.cartCheck?.shipping
                            |currency:(common.currncypipe| async)}}</h5>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span
                        class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                    <div class="custom-control custom-radio mb-3">
                        <input type="radio" class="custom-control-input" name="payment" checked id="paypal">
                        <label class="custom-control-label" for="paypal">Cash On Delivery</label>
                    </div>

                    <button class="btn btn-block btn-primary font-weight-bold py-3" (click)="ganrateOrder()">Place
                        Order</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Checkout End -->