.form-control{
    size: 20px !important;
}

input[type=radio] {
    border: 0px;
    width: 1rem !important;
    height: 1rem !important;
    border: none !important;
    accent-color:  #FFD333;
}

.custom-margin{
    margin-top: 4px !important;
}
.custom-color{
    background-color:#FFD333;
}