



<section class="">
    <div class="container py-5 h-100">
        <div class="hiren row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <!-- <div class="card" style="border-radius: 1rem;"> -->
                <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <div class="col-12 mt-5 ms-5">

                            <ng-container *ngFor="let item of  offers">
                                <app-offers [parentData]="item"></app-offers>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body m-0 p-lg-5 text-black">

                            <form [formGroup]="regetrationsForm" (ngSubmit)="registerUser()">



                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Regetrations </h5>
                            
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example17"> Name</label>
                                    <input type="text"  class="form-control form-control-lg" formControlName="name" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example17"> Email</label>
                                    <input type="text"  class="form-control form-control-lg" formControlName="email" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example27">Password</label>
                                    <input type="password" id="form2Example27" class="form-control form-control-lg" formControlName="password" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example27">Mobile</label>
                                    <input type="text"  class="form-control form-control-lg" formControlName="mobile" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example27">country</label>
                                    <input type="text"  class="form-control form-control-lg" formControlName="country" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example27">language</label>
                                    <input type="text"  class="form-control form-control-lg" formControlName="language" />
                                </div>
                            
                                <div class="pt-1 mb-4">
                                    <button class="btn btn-dark btn-lg btn-block" type="submit">Sign Up</button>
                                </div>
                            
                                
                                <p class="mb-5 pb-lg-2" style="color: #393f81;"> I have an account <a routerLink="/auth/login"
                                        style="color: #393f81;">Log in</a>
                                </p>
                                <a class="small text-muted">Terms of use.</a>
                                <a class="small text-muted">Privacy policy</a>
                            
                            </form>
                           
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</section>
<div>
    <app-featured></app-featured>
</div>