.imgWidth{
    height: 350px !important;
    width: 300px !important;
}
.titlewrap{
    display: flex !important;
    flex-wrap: wrap !important;
}
.card{
    
    height: 484px !important;
    width: 350px !important;

}
.tableView{
    height: 350px !important;
    width: auto  !important
} 
.imgDiv{
    width: 300px !important;
}

// .custom-check {
//     border-radius: none !important;
//     height: 1rem !important;
//     width: 1rem !important;
// }
// input[type=checkbox] {
//     accent-color:   #FFD333 !important;
//   }