<!-- <div title="{{rating}}" class="d-flex align-items-center justify-content-center mb-1 text-primary">
  <small (click)="rating = 1"
    [class]="(rating == 0 ) ? 'far fa-star mr-1' : (rating > 0 && rating < 1) ? 'fa fa-star-half-alt mr-1' : 'fa fa-star mr-1'"></small>
  <small (click)="rating = 2"
    [class]="(rating > 1 && rating < 2) ? 'fa fa-star-half-alt mr-1' : (rating >= 2) ? 'fa fa-star mr-1' : 'far fa-star mr-1'"></small>
  <small (click)="rating = 3"
    [class]="(rating > 2 && rating < 3) ? 'fa fa-star-half-alt mr-1' : (rating >= 3) ? 'fa fa-star mr-1' : 'far fa-star mr-1'"></small>
  <small (click)="rating = 4"
    [class]="(rating > 3 && rating < 4) ? 'fa fa-star-half-alt mr-1' : (rating >= 4) ? 'fa fa-star mr-1' : 'far fa-star mr-1'"></small>
  <small (click)="rating = 5"
    [class]="(rating > 4 && rating < 5) ? 'fa fa-star-half-alt mr-1' : (rating >= 5) ? 'fa fa-star mr-1' : 'far fa-star mr-1'"></small>

</div> -->

<ng-container *ngFor="let item of [1,2,3,4,5]">
  <small class="text-warning"  title="{{rating}}"  (click)="giveRating(item)" 
    [class]="(rating > item - 1 && rating < item) ? 'fa fa-star-half-alt mr-1' : (rating >= item) ? 'fa fa-star mr-1' : 'far fa-star mr-1'"></small>
</ng-container>