
<div title="{{rating.rating.rate}}"  class="d-flex align-items-center justify-content-center mb-1 text-primary" *ngIf="rating.rating">
    <small
      [class]="(rating.rating.rate == 0) ? 'far fa-star mr-1' : (rating.rating.rate > 0 && rating.rating.rate < 1) ? 'fa fa-star-half-alt mr-1' : 'fa fa-star mr-1'"></small>
    <small
      [class]="(rating.rating.rate > 1 && rating.rating.rate < 2) ? 'fa fa-star-half-alt mr-1' : (rating.rating.rate >= 2) ? 'fa fa-star mr-1' : 'far fa-star mr-1'"></small>
    <small
      [class]="(rating.rating.rate > 2 && rating.rating.rate < 3) ? 'fa fa-star-half-alt mr-1' : (rating.rating.rate >= 3) ? 'fa fa-star mr-1' : 'far fa-star mr-1'"></small>
    <small
      [class]="(rating.rating.rate > 3 && rating.rating.rate < 4) ? 'fa fa-star-half-alt mr-1' : (rating.rating.rate >= 4) ? 'fa fa-star mr-1' : 'far fa-star mr-1'"></small>
    <small
      [class]="(rating.rating.rate > 4 && rating.rating.rate < 5) ? 'fa fa-star-half-alt mr-1' : (rating.rating.rate >= 5) ? 'fa fa-star mr-1' : 'far fa-star mr-1'"></small>
    <small>({{rating.rating.count}})</small>
</div>

