
.imgWidth{
    height: 350px !important;
    width: 300px !important;
}

.titlewrap{
    display: flex !important;
    flex-wrap: wrap !important;
}

.custom-row {
    flex-wrap: nowrap !important;
}
