<app-hero></app-hero>


<app-featured></app-featured>
<app-category></app-category>


<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Featured Products</span>
    </h2>

    <app-product [FeatureProduct]="featureProductList"></app-product>
    

</div>
<ng-container class="box" *ngFor="let item of offerData" >
    <app-offers [customClass]="true" [parentData]="item" ></app-offers>
</ng-container>

<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Recents Products</span>
    </h2>

    <app-recent-products></app-recent-products>

</div>

<app-vendor></app-vendor>