/* You can add global styles to this file, and also import other style files */
.skiptranslate{
    display: none !important;
}
body{
    top:0px !important;
}
.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q{
    box-shadow: none !important;
    background-color:transparent !important;
}

.VIpgJd-suEOdc, .VIpgJd-yAWNEb-L7lbkb 
{
    display: none !important;
}




